body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  padding: 24px 0;
  margin-right: 76px;
}

.page-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.page-nav .active-link {
  padding: 24px 0;
  display: block;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.6667;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-link-second-part {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #2e2f42;
  line-height: 1.6667;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}

.page-nav .link-studio:hover {
  color: #404bbf;
}

.page-nav .link-studio:focus {
  color: #404bbf;
  text-decoration: underline;
}

address {
  font-style: normal;
}

.contact-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 40px;
}

.contact-list .contact {
  font-size: 16px;
  color: #434455;
  text-decoration: none;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
}

.contact-list .contact:hover,
.contact-list .contact:focus {
  color: #404bbf;
}

.contact {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-title {
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07143;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.section-hero {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
}

.hero-section {
  align-items: center;
  gap: 48px;
}

/* buttons */
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover,
.order-service:focus {
  background-color: #404bbf;
}

.section-advantages {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-advantages {
  display: block;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.advantage-item {
  display: block;
  width: calc((100% - 72px) / 4);
}

.icon-wrap {
  width: 264px;
  background-color: #f4f4fd;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.logo-advantage {
  fill: #2e2f42;
}

.advantages-list .name-advantages {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.name-advantages {
  display: block;
  margin-bottom: 8px;
}

.advantages-list .explain-advantages {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.member-section {
  background-color: #f4f4fd;
  display: block;
}

.member {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.member-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.member-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.member-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-content {
  padding: 32px 0;
}

.member-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.member-text {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.social-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 16px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-brand {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.example-section {
  padding: 120px 0;
}

.example-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  display: block;
  margin-bottom: 72px;
}

.example-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.example-card {
  width: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.example-content {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  box-sizing: border-box;
}

.example-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  margin-bottom: 8px;
}

.example-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.image {
  position: relative;
  overflow: hidden;
}

.ovrlay-text {
  font-size: 16px;
  font-weight: 400;
  color: #f4f4fd;
  padding: 20px;
  text-align: left;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 300px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms;
  transition-delay: 0.25s; */
}

.image:hover .ovrlay-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-page {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-link-bottom {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.6667;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-link-second-part-bottom {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #f4f4fd;
  line-height: 1.6667;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.bottom-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.page-bottom {
  display: flex;
  align-items: baseline;
}

.container-link-text {
  margin-right: 120px;
}

.footer-media {
  width: 208px;
  margin-right: 80px;
  /* display: flex; */
}

.text {
  color: #ffff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-icons-footer {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

/* .short-info {
  margin-right: 120px;
} */

.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.social-icon-footer {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.footer-form-subscribe {
  display: flex;
  gap: 24px;
  /* position: relative; */
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
}

.footer-subscribe {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* position: absolute;
  bottom: 0px;
  right: 0px; */
}

.footer-icon-send {
  margin-left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input-email {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-email-text {
  color: #ffff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

/* .email-input-text {
  color: #ffff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
} */

.modal-ovrlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out; */
}

.modal-ovrlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.popup {
  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 72px 24px 24px 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* fieldset {
    padding: 0;
    margin: 0;
    border: none;
  } */
}

.popup-close {
  position: absolute;
  right: 24px;
  top: 24px;
  outline: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-popup-close {
  fill: #2e2f42;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-close:hover > .icon-popup-close,
.popup-close:focus > .icon-popup-close {
  fill: #ffffff;
}

.popup-close:hover,
.popup-close:focus {
  background-color: #404bbf;
  border: none;
}

.popup-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.popup-form {
  display: flex;
  flex-direction: column;
}

.popup-form-text {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  line-height: 1.17;
}

.popup-form-input {
  position: relative;
}

.popup-section {
  padding: 0;
  margin: 0;
  border: none;
}

.popup-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .icon-popup-form {
  fill: #4d5ae5;
}

.popup-form-comment {
  margin-bottom: 16px;
}

.icon-popup-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment-form-popup {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment-form-popup:focus {
  border-color: #4d5ae5;
}

.form-agree {
  margin-bottom: 24px;
}

.agree-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-spot {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.our-rules {
  color: #4d5ae5;
}

input:checked + .agree-text > .checkbox-spot {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.popupsubmit {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus {
  fill: #4d5ae5;
}

/* .input-sect {
  position: relative;
}

.social-icon-input {
  position: absolute;
  padding: 3px 0px;
  width: 18px;
  height: 24px;
  left: 16px;
  top: 8px;
  bottom: 8px;
} */
